.hover-word {
  position: relative;
  display: inline-block;
}

.no-underline {
  text-decoration: none !important;
}

.hover-word {
  position: relative;
  display: inline-block;
}

.hover-word:hover {
  text-decoration: none !important;
}

.hover-word:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  animation: underline 0.3s ease-out;
}

@keyframes underline {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}